.stack {
  background: url("/static/images/blogApp.jpg");
  color: white;
  /* height: 670px; */
  padding: 100px 0 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.navbar {
  background-color: cadetblue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.baha{
  display: flex;
  align-items: center;

}



.left {
  /* display: flex; */
  /* justify-content: flex-start; */
  align-items: center;
  /* border: 2px solid red; */
}

.right {
  /* display: flex; */
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid red; */
}
/* below is footer */
.card {
  background-color: black;
  /* height: 100px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center;  */
  /* position: absolute; */
  /* top: 528px; */
 
}


